- name: Add keys
  apt_key:
    url: https://syncthing.net/release-key.txt
    state: present

- name: Add timeshift ppa
  apt_repository:
    repo: ppa:teejee2008/timeshift


- name: Add syncthing source
  apt_repository:
    repo: deb https://apt.syncthing.net/ syncthing candidate
    state: present


- name: Install packages
  apt: 
    name:
      - htop
      - vim
      - curl
      - xclip
      - timeshift
      - syncthing
    update_cache: yes
