- name: Add syncthing key
  apt_key:
    url: https://syncthing.net/release-key.txt
    state: present

- name: Add timeshift ppa
  apt_repository:
    repo: ppa:teejee2008/timeshift

- name: Add syncthing source
  apt_repository:
    repo: deb https://apt.syncthing.net/ syncthing candidate
    state: present

- name: Install packages
  apt: 
    name:
      - htop
      - vim
      - curl
      - xclip
      - timeshift
      - syncthing
      - emacs
      - ripgrep
      - ledger
      - p7zip
      - vlc
      - rofi
      - openssh-server
      - tilix
      - restic
      - xdotool
      - awesome
      - luarocks
    update_cache: yes

- name: Grab keepass deb package from github
  uri:
    url: https://api.github.com/repos/keeweb/keeweb/releases/latest
    return_content: true
  register: json_response

- name: Install keepass deb package from github
  apt:
    deb: "{{ json_response.json.assets.3.browser_download_url }}"

- name: Install Visual Studio Code
  apt:
    deb: https://go.microsoft.com/fwlink/?LinkID=760868

- name: Clone emacs doom dev
  git:
    repo: 'https://github.com/hlissner/doom-emacs.git'
    dest: ~/.emacs.d
    depth: 1
    version: develop
  become: yes
  become_user: jan

- name: Install pip packages
  pip:
    name: youtube-dl
